<html>

<head>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="/js/geocomplete/jquery.geocomplete.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/foundation-icons/foundation-icons.css">

</head>


<body>

    <!-- HEADER BAR -->


    <nav class="top-bar" data-topbar="" id="navbar-top">
        <ul class="title-area">

            <li class="name">
                <h1><a href="/">Hotels</a></h1>
            </li>
        </ul>


    </nav>

    <!-- /HEADER BAR  -->
